---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: 529236942244.dkr.ecr.eu-central-1.amazonaws.com/ecmsp-project/product-service
        ports:
        - name: http
          containerPort: 8080
        - name: grpc
          containerPort: 50051
        # livenessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: http
        #   initialDelaySeconds: 3
        #   periodSeconds: 10
        # readinessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: http
        #   initialDelaySeconds: 3
        #   periodSeconds: 5
        # startupProbe:
        #   httpGet:
        #     path: /healthz
        #     port: http
